* {
    margin: 0; 
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* HEADER */
.gj-header {
    height: 90px;
    width: 100%;
    background-color: #39393A;
    color: white;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.gj-header img {
    height: 90px;
}
.gj-header a {
    text-decoration: none;
    color: #EEEEEE;
}
.gj-header nav {
    width: 60%;
    font-size: 90%;
}
.lista-indice{
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* MAIN */
.gj-main-index{
    background-color: #f7f0f0;
    position: relative;
}

.gj-main-index h4{
    font-weight: bold;
    color: black;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.gj-main-index img{
    width: 100%;
}

.gj-wrap-index{
    display: flex;
    flex-wrap: wrap;
}

.gj-wrap-index img{
    width: 350px;
}

.gj-puntos-index{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    margin: 20px;
}


.main {
    background-color: #0D5C63;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80%;
    padding: 20px;
}

main img {
    width: 450px;
}
main input {
    padding: 3px;
    margin: 5px;
}
main ul {
    list-style-type: none;
}
main a {
    text-decoration: none;
    color: #EEEEEE;
}




.ir-arriba {
    display: block;
    margin: 10px;
    padding: 10px;
    width: 52px;
    height: 20px;
    background-color: #000033;
    position: sticky;
    bottom: 10px;
    right: 10px;
}
.ir-arriba a {
    text-decoration: none;
    color: #EEEEEE;
}

/* FOOTER */
footer {
    background-color: #8D818C;
    padding: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #EEEEEE;
    text-align: left;
}
footer img {
    height: 30px;
}
.footer-ul {
    list-style-type: none;
    display: block;
    align-items: center;
    justify-content: space-evenly;
}